.card-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}

.card-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color: olive;
  text-shadow: 1px 1px 2px olive;
  text-align: center;
  margin: 2px;
}

.row {
  cursor: pointer;
  justify-content: space-evenly;
  width: 50%;
  border: 1px black solid;
}

#prod-col {
  box-shadow: 4px 4px 10px darkslategrey;
  margin: 10px;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

#prod-col:hover {
  transform: translateX(2px);
  transition: transform 0.3s ease-in-out;
}

#ttlo {
  width: 40%;
  text-align: center;
  text-shadow: 4px 4px 10px olive;
  font-family: 'Tangerine', serif;
  font-size: 55px;
  margin-top: 10px;
}

#contenido {
  display: flex;
  margin: 16px;
  border: 1px olive solid;
  margin-bottom: 20px;
  border: 1px black solid;
}

#divContainer {
  /*border: 1px olive solid;*/
  margin: 16px;
  width: 50%;
  height: 400px;
}

.card-body {
  width: 15px;
}

#prod-img {
  margin: 4px;
  width: 100px;
  padding: 2px;
}

#fila {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 16px;
  height: 270px;
  width: 550px;
  overflow-y: scroll;
}

@media (max-width:740px) {

  #contenido {
    width: 98%;
    height: 50%;
    margin-left: 4px;
  }

  #divContainer {
    margin: 4px;
    width: 50%;
    height: 55%;
    margin-left: 4px;
  }

  #ttlo {
    margin: 4px;
    width: 30%;
    margin-left: 20px;
    font-size: 14px;
  }

  #fila {
    margin: 2px;
    width: 180px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border: 1px black solid
  }

  #prod-col {
    margin: 2px;
    margin-left: 8px;
    border-radius: 10px;
    width: 35px;
    height: 50px;
  }

  #prod-img {
    margin: 2px;
    width: 20px;
  }

  .card-title {
    font-size: 8px;
  }

}