/*Estilos head*/
.ped-alm-container {
  width: 50%;
  margin: 4px;
  background-color: rgb(202, 198, 198);
  border: 1px rgb(131, 128, 128) solid;
  height: 400px;
}

.ped-contenido-head {
  display: flex;
  justify-content: space-between;
  border: 1px white solid;
  width: 99.5;
}

#pd-logo-form {
  width: max-content;
  margin: 4px;
}

#pd-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 2px 2px 4px white;
}

#fecha {
  padding: 4px;
  margin: 2px;
  border: 1px white solid;
  display: flex;
}

#pd-title {
  margin: 2px;
  border: 1px rgb(131, 128, 128) solid;
}

#pd-dir {
  margin: 2px;
  border: 1px rgb(131, 128, 128) solid;
}

#pd-cont-fecha {
  margin: 2px;
  border: 1px rgb(131, 128, 128) solid;
  width: 200px;
}

input[type='number'] {
  width: 45px;
}

#pd-num-container {
  width: 200px;
  margin: 2px;
  border: 1px rgb(131, 128, 128) solid;
}

#pd-num {
  display: flex;
  margin: 2px;
  border: 1px white solid;
}

/*Estilos Proveedor*/
.pd-prov-container {
  margin-top: 2px;
  display: flex;
  margin-left: 2px;
  width: 99.6%;
  border: 1px rgb(131, 128, 128) solid;
}

#pd-select {
  width: 200px;
  border: 1px white solid;
  margin: 4px;
}

#pd-lab-select {
  margin-left: 0;
}

#pd-select-dir {
  width: 90.6%;
  margin: 4px;
  display: flex;
  border: 1px white solid;
}

#pd-lab-select {
  margin-left: 0;
}

/*Estilos Container Factura y lista productos*/
.pd-container-factura-listprod {
  margin-top: 2px;
  display: flex;
  margin-left: 2px;
  width: 99.6%;
  border: 1px rgb(131, 128, 128) solid;
  margin-bottom: 2px;
}

/*Estilos List prod*/
.pd-list-prod-container {
  margin: 4px;
  display: flex;
  border: 1px white solid;
  width: 37%;
}

#pd-prov-img {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  margin: 2px;
}

#pd-prov-content {
  margin: 10px;
  box-shadow: 4px 4px 10px rgb(29, 29, 28);
  border-radius: 10px;
  display: block;
  width: 100px;
  height: 70px;
  background-color: olive;
}

#pd-nom-prod {
  font-size: 12px;
  margin-top: 8px;
  margin-left: 0;
  text-align: center;
  color: black;
  height: 20px;
  text-shadow: 1px 1px 2px greenyellow;
}

#pd-nom-prod:hover {

  transform: translateX(-2px);
  transition: transform 0.3s ease-in-out;
}

/*Estilos Factura prod*/
.pd-fact-container {
  width: 61.6%;
  border: 1px white solid;
  margin-bottom: 4px;
  height: 56%;
  display: block;
  margin-left: 38%;
  margin-top: -227px;
}

.num-fact-content {
  display: flex;
  width: 100%;
  margin: 4px;
  border: 1px rgb(131, 128, 128) solid;
}

#pd-det {
  width: 46%;
}

#dia {
  width: 50px;
  text-align: center;
  margin-left: 4px;
}

#año {
  width: 70px;
  text-align: center;
  margin-left: 4px;
}

#mes {
  width: 50px;
  text-align: center;
  margin-left: 4px;
}

thead tr th {
  text-align: center;
}

.cod-prod-content {
  width: 99%;
  height: 50px;
  margin: 4px;
  justify-content: space-evenly;
}

.nom-prod-precio {
  width: 99%;
  height: 100px;
  margin: 4px;
  justify-content: space-evenly;
}

.nom-prod-precio label {
  margin: 10px;
}

#ad-fact {
  margin-top: 20px;
  width: 90%;
}

#pd-cdgo-list {
  margin-top: 8px;
  font-size: 12px;
  margin-left: 0;
  height: 20px;
  font-weight: bold;
}

#pd-num-pedido {
  width: 182px;
}

#pd-enviar {
  width: 22%;
  margin: 8px;
  border-radius: 10px;
  background-color: olive;
  color: white;
}

#pd-fila {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 3 columnas de igual ancho */
  background-color: white;
  margin: 10px;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

@media (max-width: 740px) {
  .ped-alm-container {
    width: 99.5%;
    height: 580px;
    margin: 2px;
    border: 1px rgb(15, 9, 9) solid;
  }

  .ped-contenido-head {
    display: block;
    justify-content: space-between;
    border: 1px white solid;
    width: 99.5;
  }

  #pd-num-container {
    display: flex;
    justify-content: space-around;
    width: 99%;
  }

  #pd-logo-form {
    width: 98%;
    margin: 2px;
    margin-left: 45%;
  }

  #pd-img {
    width: 50px;
    height: 50px;
  }

  #pd-title {
    height: 30px;
  }

  #pd-title p {
    height: 25px;
    margin: 2px;
  }

  #pd-title p strong {
    margin: 0;
    font-size: 12px;
  }

  #pd-dir p strong {
    font-size: 12px;
  }

  #pd-dir {
    height: 60px;
  }

  #pd-dir p {
    margin: 2px;
  }

  #pd-cont-fecha {
    width: 99%;
  }

  #pd-cont-fecha h6 {
    margin: 2px;
  }

  #fecha {
    display: flex;
    justify-content: space-around;
    width: 99%;
  }

  #fecha div {
    width: 70px;
  }

  #fecha div label {
    margin-left: 20px;
  }

  #año {
    width: 60px;
  }

  #pd-select {
    width: 110px;
    height: 70px;
  }

  #pd-lab-select {
    margin-left: 4px;
  }

  #opciones {
    height: 30px;
  }

  #pd-select-dir div p {
    margin: 4px;
    font-size: 10px;
  }

  #pd-select-dir {
    display: block;
  }

  .pd-list-prod-container {
    height: 35%
  }

  .pd-fact-container {
    margin-left: 38%;
    height: 35%;
    margin-top: -206px;
  }

  #pd-fila {
    height: 200px;
    margin: 2px;
  }

  #pd-prov-content {
    display: block;
    width: 50px;
    height: 70px;
    margin: 2px;
  }

  #pd-cdgo-list {
    font-size: 10px;
  }

  #pd-nom-prod {
    font-size: 8px;
    height: 8px;
  }

  #pd-prov-img {
    margin: 2px;
    width: 20px;
    height: 20px;
  }

  .cod-prod-content label {
    font-size: 12px;
    height: 20px;
    margin: 1px;
  }

  #fact-cdgo {
    font-size: 14px;
    width: 50px;
    height: 30px;
  }

  .cod-prod-content {
    margin: 2px;

  }

  .cod-prod-content h5,
  h6 {
    margin: 2px;
    margin-left: 4px;
    font-size: 10px;
  }

  .nom-prod-precio {
    display: block;
    margin: 2px;
    width: 213px;
    height: 72%;
  }

  .nom-prod-precio label {
    width: 20px;
    font-size: 14px;
    margin-left: 4px;
  }

  #fact-nom {
    font-size: 14px;
    width: 50px;
    height: 25px;
    margin-left: 20px;
  }

  #fact-stock {
    font-size: 14px;
    width: 50px;
    height: 25px;
    margin-left: 10px;
  }

  #fact-cant {
    margin: 10px;
    width: 50px;
    margin-left: 10px;
  }

  .contenido-fact {
    width: 99.5%;
    display: block;
    margin: 2px;
    background-color: bisque;
  }

  table thead tr th {
    font-size: 10px;
  }

  table tbody tr td {
    font-size: 10px;
  }

  tfoot tr td strong {
    font-size: 10px;
  }

  #ttal-cant {
    font-weight: bold;
    text-align: center;
    font-size: 10px;
  }

  #total-fact {
    font-weight: bold;
    font-size: 10px;
    margin-left: 0;
  }

  #lab-cant-ped {
    width: 100px;
  }

  #ad-fact {
    margin-top: 10px;
    width: 90%;
  }

  #pd-enviar {
    width: 96%;
  }
}